@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;800&display=swap');

.principal-footer {
    font-family: 'Barlow', sans-serif;
    color: #FFF;
    width: 100%;
    background-color: #2D459C;
    margin-top: auto;
  
}

li {
    color: #CCCCCC;
    font-size: 45;
    text-decoration: none;
}

footer {
    align-items: flex-end;
}

a {
    text-decoration: none;
}

  