@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

h2 {
    font-family: 'Barlow', sans-serif;
}

.socilite-recolha {
    margin-top: 30px;

    max-width: 500px;
    padding: 10px;
}

.formulario {
    margin: 4px;
}

.botao-solicitar {
    margin-top: 15px;
    color: #2D459C;
}

body {
    background-color: #e7f0f5;
}