.principal-container{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 93vh;
}

/* 
O Header Ocupa 6vh (mínimo).
O Container de exibição principal ocupa 93vh mínimo, incluindo o 
Onde foi parar o 1vh? */